<!DOCTYPE html>
<html>
<head>
  <title>Asdfpost</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'root', root_path %>
<%= link_to 'posts#index', posts_path %>
<%= link_to 'posts#new', new_post_path %>

<%= yield %>

</body>
</html>
